
#root {
    user-select: none;
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(to top, #0f0209, #23061d, #330531, #3e024b, #41056a, #520578, #640385, #770092, #9b0089, #b8007e, #ce1173, #e03168); */
    background-color: #000000;
    overflow: hidden;
}
